.section1{
  display: flex;
  width: 100%;
  min-height: 80vh;
}
.homeLeft{
  width: 70%;
 
}

.homeRight{
  width: 30%;
  background: rgba(211, 220, 248, 1);
}
@media(max-width:426px){
  .section1{
    flex-direction: column;
  }
  .homeLeft,.homeRight{
    width: 100%;
  }
}